@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        padding: 0 20px;
    }
    .menu {
        gap: 20px;
    }
    .about {
        &__grid {
            gap: 30px;
        }
    }
    .licence {
        &__slider {
            width: 500px;
        }
    }
    .social {
        &__slider {
            &-slide {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .licence {
        &__slider {
            width: 300px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}