@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'libs/tiny-slider.css';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

.title {
	font-weight: 500;
	font-size: 32px;
	line-height: 38px;
	color: #212121;
	margin-bottom: 30px;
}

a {
	text-decoration: none;
	color: unset;
}

@import 'base/buttons';

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/events';
@import 'blocks/news';
@import 'blocks/expo';
@import 'blocks/faq';
@import 'blocks/licence';
@import 'blocks/social';
@import 'blocks/contacts';
@import 'blocks/footer';
@import 'blocks/menu';

@import 'base/media';
