.about {
    min-height: 440px;
    padding-top: 60px;
    &__grid {
        display: grid;
        grid-template-columns: 472px 590px;
        gap: 91px;
    }
    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: #212121;
        margin-bottom: 30px;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.05em;
        color: #1C7E66;
        margin-bottom: 18px;
    }
    &__descr {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #686868;
    }
    &__img {
        width: 100%;
        object-fit: cover;
    }
}