.header {
    width: 100%;
    height: 80px;
    padding: 0 60px;
    display: grid;
    grid-template-columns: repeat(2, auto) 1fr auto;
    align-items: center;
    gap: 30px;
    &__logo {
        width: 100px;
        height: 50px;
        img {
            height: 100%;
            width: 100%;
        }
    }
    &__btn {
        justify-self: end;
        height: 36px;
        width: 140px;
    }
    &__select {
        width: 100px;
        position: relative;
        justify-self: start;
        &::after {
            content: '';
            width: 7px;
            height: 7px;
            border-right: 1.5px solid grey;
            border-bottom: 1.5px solid grey;
            transform: rotate(45deg);
            position: absolute;
            right: 13px;
            top: 13px;
            pointer-events: none;
        }
        select {
            height: 36px;
            box-shadow: 0px 5px 15px #E4EAF2;
            border-radius: 8px;
            border: none;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #1C7E66;;
            padding: 0 28px 0 11px;
            appearance: none;
            background-color: #fff;
        }
    }
    &__menu {
        display: flex;
        gap: 30px;
        justify-self: center;
        margin: 0;
        padding: 0;
        list-style: none;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #212121;
        li {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                right: -9px;
                top: 6px;
                width: 3px;
                height: 3px;
                background: #1C7E66;
                border-radius: 100%;
            }
        }
    }
    
}


