.licence {
    padding-top: 80px;
    &__gradient-block {
        width: 100%;
        height: 60px;
        background: linear-gradient(180deg, #E4EAF2 0%, rgba(228, 234, 242, 0) 100%);
    }
    &__main-block {
        background: #F2F4F7;
        padding-bottom: 80px;
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 72px;
    }
    &__text {
        h2 {
            font-weight: 500;
            font-size: 32px;
            line-height: 38px;
            color: #212121;
            margin-bottom: 30px;
        }
        span {
            display: block;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #686868;
            margin-bottom: 40px;
        }
        button {
            width: 170px;
            height: 48px;
        }
    }
    &__slider {
        position: relative;
        &-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            img {
                width: 230px;
                height: 326px;
                box-shadow: 0px 5px 10px 2px rgba(254, 254, 254, 0.5);
            }
            span {
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: #363636;
            }
        }
        &-prev {
            width: 44px;
            height: 44px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%) translateX(-50%);
        }
        &-next {
            width: 44px;
            height: 44px; 
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%) translateX(50%);
        }
    }
}

.my-slider {
    img {
        max-width: 230px;
        max-height: 326px;
        object-fit: cover;
    }
}
.wr {
    width: 800px; 
    height: 326px;
}