.news {
    padding-top: 60px;
    &__header {
        display: flex;
        justify-content: space-between;
        button {
            width: 160px;
            height: 44px;
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 20px;
    }
    &__item {
        background: #FFFFFF;
        box-shadow: 0px 15px 60px #E4E9F0;
        border-radius: 14px;
        padding: 20px;
        display: grid;
    }
    &__img {
        width: 100%;
        max-width: 333px;
        max-height: 200px;
        object-fit: cover;
        margin-bottom: 16px;
    }
    &__date {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #C2C2C2;
        margin-bottom: 14px;
        span {
            padding-left: 8px;
        }
    }
    &__subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: #363636;
        margin-bottom: 19px;
    }
    &__descr {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #686868;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 16px;
    }
    &__btn {
        width: 100px;
        height: 40px;
        align-self: end;
    }
}